.container-fluid {
    background: aliceblue;
    padding: 5%;
}

.jumbotron {
    background-image: url("image.jpg");
    color: white;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}
